@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");

:root {
  --bg-color: #fff9eb;
}

* {
  margin: 0;
  box-sizing: border-box;
}

.shadow-blocker-1,
.shadow-blocker-2 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: none;
}

#big-banner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 10000;
  display: none;
}

#big-banner i {
  float: right;
  cursor: pointer;
  color: #888;
}

#big-banner span {
  display: block;
  margin-bottom: 10px;
}

#big-banner span i {
  margin-right: 5px;
}



.show-banner {
  display: block;
}

.hide-banner {
  display: none;
}


body header {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  align-items: center;
  justify-items: center;
  text-align: center;
  background-color: var(--bg-color);
  font-family: "Montserrat";
}

#logo_link {
  display: flex;
  grid-column: 1;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

h1 {
  grid-column: 2;
  font-size: 3em;
  text-align: center;
}

nav ul {
  display: inline;
  flex-direction: column;
  list-style: none;
  background-color: #053c5e;
  padding-inline-start: 0px;
  margin-block-start: 0;
  margin-block-end: 0;
}

nav ul li {
  border: 1px solid white;
  text-align: center;
  color: #264a41;
  background-color: #b9a2a2;
  transition: .5s;
}

nav ul li:hover {
  background-color: #f07167;
  color: black;
}

.active {
  background-color: #b9a2a2;
  color: black;
}

nav a {
  justify-content: space-between;
  text-decoration: none;
  color: #264a41;
  min-width: 210px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.header-today {
  display: flex;
  justify-content: space-between;
  background-color: #fff9eb;
  color: white;
  text-align: center;
  font-weight: 300;
  font-size: 1.25em;
  margin-bottom: 0.5rem;
}

.date {
  width: 100%;
}

.logoHeader {
  width: 120px;
  border-radius: 30px;
}

.title {
  color: #264a41;
}

.time {
  margin-bottom: 20px;
  color: #264a41;
}

.dot {
  min-height: 10em;
  align-content: center;
  text-align: center;
  background-color: #b9a2a2;
  color: white;
  padding: 0.2rem;
  margin: 0.5rem;
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.content section:nth-child(1),
.content section:nth-child(2) {
  grid-column: span 1;
}

#section-a .content section:nth-child(1) {
  grid-row: 1 / 3;
  grid-column: 2 / 4;
}

#section-b .content section:nth-child(5) {
  grid-row: 1;
  grid-column: 4;
}

#section-c .content section:nth-child(6) {
  grid-row: 2;
  grid-column: 4;
}

#section-d {
  grid-template-columns: 1fr 1.7fr;
  grid-gap: 4rem 10rem;
  align-items: center;
  margin: auto;
}

#spotlights .content section:nth-child(4) {
  grid-column: span 3;
  grid-column: 2/5;
  grid-row: auto;
}

#hamburger-menu {
  background-color: #264a41;
  font-size: 2rem;
  border: 1px solid black;
  color: white;
  margin-right: 10px;
  cursor: pointer;
}

#navbar {
  display: none;
}

#menu-open {
  display: none;
}

#menu-closed {
  display: inline;
}

#navbar.menu-active {
  display: flex;
}

#menu-open.menu-active {
  display: inline;
  font-size: 16px;
}

#menu-closed.menu-active {
  display: none;
}

footer {
  background-color: var(--bg-color);
}



.infoM {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}



body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  margin-top: 20px;
}

.directory-container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.view-options {
  text-align: center;
  margin-bottom: 20px;
}

.view-options button {
  margin-right: 10px;
}

.view-options button.active {
  font-weight: bold;
}

.company-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.company-list-item {
  margin-bottom: 10px;
}

.company-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.company-card {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.company-card h3 {
  margin-top: 0;
}

.p {
  font-weight: bolder;
  color: black;
}

.contact1 {
  width: 100%;
  background-image: url("../images/background.png");
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #264a41;
}

.contact2 {
  padding: 8vw;
  width: 300px;
  color: #264a41;
}

.h1-left {
  text-align: left;
  color: #264a41;
}

.site-title {
  font-size: 20px;
  color: #264a41;
}
footer .date{
margin-bottom: 0.5em;
margin-top: 0;
}

footer {
    background-image: linear-gradient to right,  #B9A2A2;
  
    text-align: center;
    font-weight: bold;
    font-size: 0.9em;
}

hr {
    border: 1px solid rgba(41, 41, 41, 0.233);
}

.foot-logo-box {
    display: block;
    padding: 1.5em;

}
.foot-info-box {
    padding: 1em;
    background-color: var(--section-background-color);
    padding-bottom: 1.6em;
}
section {
    padding: 0 1em;
}
div.place-holder {
    padding: 1rem;
    background-color: #eee;
    border: dashed 1px var(--default-dark);
    margin-bottom: 20px;
    font-style: italic;
}

section.contact-info {
    position: relative;
    left: -1rem;
    width: 100%;
    padding: 1rem;
    display: grid;
    background-color: var(--default-dark);
    grid-template-columns: 50% auto;
    box-shadow: 0 0 10px var(--default-dark);
}
section.contact-info iframe {
    width: 90%;
    height: 200px;
    grid-column: 1;
    grid-row: span 3;
    border: 0;
}
section.contact-info h3, section.contact-info ul {
    margin-top: 0;
    color: var(--default-light);
}
section.contact-info ul {
    margin-bottom: 0;
}
section.contact-info li {
    padding-top: 3px;
}
section.contact-info li i {
    transition: transform 0.5s, color 0.3s;
}
section.contact-info li:hover i {
    color: var(--main-color);
    transform: scale(1.5);
}
section.contact-info div.social-links {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(3,50px);
    justify-items: center;
    align-items: flex-start;
    padding-left: 35px;
}
div.social-links a {
    width: 36px;
    height: 37px;
    overflow: hidden;
}
div.social-links .fa-google-plus-square,
div.social-links .fa-facebook-square,
div.social-links .fa-flickr {
    color: var(--default-light);
    transition: transform 0.5s;
    font-size: 40px;
}
div.social-links .fa-google-plus-square:hover {
    cursor: pointer;
    color: tomato;
}
div.social-links .fa-facebook-square:hover {
    cursor: pointer;
    color: royalblue;
}
div.social-links .fa-flickr:hover {
    cursor: pointer;
    background: linear-gradient(90deg, royalblue, deeppink);
    background-clip: padding-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


