/* Normalize CSS */
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");

/* Base Styles */
body {
  font-family: "Quicksand", sans-serif;
  background-color: #f2f2f2;
  color: #333;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

header h1 {
  font-size: 24px;
  margin: 0;
}

header span {
  font-size: 14px;
  font-style: italic;
}

nav {
  background-color: #666;
  color: #fff;
  padding: 10px 20px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

nav li {
  margin: 0 10px;
}

nav a {
  color: #fff;
  text-decoration: none;
}

main {
  padding: 20px;
}

.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.gallery h2 {
  margin-bottom: 20px;
  text-align: center;
}

.gallery {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.gallery figure {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 20px;
}

.gallery img {
  width: 300px;
  height: auto;
}

.gallery figcaption {
  width: auto;
  margin-left: 200px;
  text-align: center;
  margin-bottom: 20px;
}


.gallery figure:hover figcaption {
  opacity: 0.8;
}

.contact-info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.contact-info iframe {
  width: 100%;
  height: 300px;
  margin-bottom: 20px;
}

.contact-info h3 {
  flex-basis: 100%;
}

.contact-info ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.contact-info li {
  margin-bottom: 10px;
}

.social-links {
  margin-top: 20px;
}

.social-links a {
  display: inline-block;
  margin-right: 10px;
  color: #333;
}

/* Large Screens */
@media screen and (min-width: 1024px) {
  header h1 {
    font-size: 32px;
  }

  header span {
    font-size: 16px;
  }
}

/* Medium Screens */
@media screen and (max-width: 1023px) {
  header h1 {
    font-size: 28px;
  }

  header span {
    font-size: 14px;
  }

  .gallery {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  .contact-info iframe {
    height: 250px;
  }
}

/* Small Screens */
@media screen and (max-width: 767px) {
  header h1 {
    font-size: 24px;
  }

  header span {
    font-size: 12px;
  }

  .gallery {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
  }

  .gallery figcaption {
    width: 100%;
    text-align: center;
  }

  .contact-info iframe {
    height: 200px;
  }

  .gallery figure:hover figcaption {
    opacity: 1;
  }
}
