root {
  --primary-color: #9ea088; /* artichoke green */
  --accent-color: #FFD6BA;
  --border-color: #BEE3DB;

  --heading-font: "Josefin Sans", "Open Sans", sans-serif;
  --paragraph-font: Inter, roboto, sans-serif;
  --paragraph-color: #000;

  --headline-color-on-white: black;  /* headlines on a white background */ 
  --paragraph-color-on-white: black; /* paragraph text on a white background */ 
}

body{
  font-family: "Josefin Sans", "Open Sans", sans-serif;
  font-size: 16px;
}

img {
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--headline-color-on-white);
  font-weight: normal;
}

#content {    
  max-width: 1100px;
  margin: 0 auto;
}

p {
  font-family: var(--paragraph-font);
  color: var(--paragraph-color);
  padding: 0 1rem;
  margin-bottom: 1.5rem;
}

a {
  text-decoration: none;
  font-family: sans-serif;
}

.primary {
  background-color: var(--primary-color);
}

p.colored {
  color: var(--paragraph-color-on-white);
}

header, footer {
  background-color: var(--primary-color);
  text-align: center;
  padding: 1rem;
  border-radius: 6px;
}

header h1, header h2, header h3, header h4, header h5,
footer h1, footer h2, footer h3, footer h4, footer h5 {
  color: var(--paragraph-color-on-white);
  margin: 0;
  padding: 0.5rem 0;
}

footer .lastupdate {
  color: var(--accent-color);
}

main {
  padding: 1rem;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
}

.card {
  text-align: center;
}

.card-header {
  background-color: var(--primary-color);
  border-radius: 9px 9px 0 0;
  padding: 0.5rem;
}

.card-header h3 {
  color: var(--paragraph-color-on-white);
  margin: 0;
  padding: 0;
}

.card-body {
  background-color: #f5cbb3;
  display: grid;
  padding: 0.5rem;
  grid-template-rows: auto auto auto auto;
  border: 1px solid #cecece;
}

.card-body h3.title {
  padding: 0;
  margin: 0.5rem 0;
}

.card-body img {
  border: 1px solid #cecece;
  margin-top: 0.5rem;
  object-fit: cover;
  object-position: top center;
}

.card-body a.link {
  text-decoration: underline;
}

@media(max-width: 768px){
  .grid-container {
    grid-template-columns: 1fr 1fr;
  }

  .grid-container .grid-item:nth-child(3) {
    grid-column: span 2;
  }
}

@media(max-width: 425px){
  .grid-container {
    display: block;
  }

  .grid-item {
    padding: 0.5rem 0;
  }
}
